[submodule "themes/elate"]
	path = themes/elate
	url = https://github.com/saey55/hugo-elate-theme.git
[submodule "themes/casper"]
	path = themes/casper
	url = https://github.com/eueung/hugo-casper-two.git
