	<section id="fh5co-whitepaper" data-section="whitepaper" class="section-color-bg section-top-slant section-bottom-slant">
		<div class="container container-padding-lg">
			{{ range .Site.Params.whitepaper.item }}
				<div class="row">
					<div class="col-lg-4 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-6 col-xs-6 hidden-xs">
						<div class="doc-container">
							<div class="doc-outer">
								<div class="doc-inner" style="background: url(/images/{{ .docimg }}) center center no-repeat; background-size: cover;">
									<!-- img set as bg -->
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 whitepaper-text-container">
						<h3>{{ .title | markdownify }}</h3>
						<p>{{ .description | markdownify }}</p>
					{{ range .languages }}
						<a class="btn btn-primary" href="{{ .url }}">{{ .button }}</a>
					{{ end }}
					</div>
					<div class="clearfix visible-sm-block"></div>
				</div>
			{{ end }}
		</div>
	</section>